.logoutbtn{
  width: 100px;
  height: 20px;
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0);
  outline: none;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  border-radius: 3px;
  transition:all .3s;
}
.logoutbtn:hover{
  box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.25);
}
.user{
  width: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}
.user>.top{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.user>.top>.imgbody{
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius:50%;
  overflow: hidden;
}
.imgbody>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top>.detailbody{
  padding: 15px 10px;
  display: flex;
  background-color: #fff;
  align-items: left;
  flex-direction: column;

}
.detailbody>h3{
  text-transform: capitalize;
  font-size: 25px;
  margin-top: 8px;
}
.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home>h1{
  font-weight: 400;
}